body{
    background-image: black;
    text-align: center;
    color: white;
    background-image: url(https://th.bing.com/th/id/OIP.pdsI7K7ODoS4u3mqxOIyHgHaE7?w=254&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7);
    background-size:cover;
}

